body {
  margin: 10px;
  font-family: "Courier New", "SimSun", serif;
  background: white;
  color: black;
}

/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: none;
  font-size: 18px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* MAIN CONTENT WRAPPER */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;
}

/* WORK ITEMS */
.work {
  margin-bottom: 80px;
  text-align: center;
}

/* IMAGES + VIDEOS */
.work img {
  width: auto;
  max-width: 100%;
  max-height: 85vh;
  display: block;
  margin: 0 auto;
}

.work video {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

/* CAPTIONS */
.caption {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.pdf-item {
  margin-bottom: 10px;
  text-align: center;
}
